:root {
  --color-primary-main-red: #fe7867;
  --color-primary-yellow: #fad400;
  --color-primary-text-dark: #25564b;
  --color-primary-text-dark-2: #19536b;
  --color-primary-footer: #458c7e;
  --color-dark-desaturated-blue: #23303e;
  --color-dark-grayish-blue: #5a636c;
  -color-dark-grayish-blue: #818498;
  --color-grayish-blue: #a7abae;
  --color-white: #ffffff; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  min-height: 100vh; }

header {
  height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem; }
  .header__menu {
    display: flex; }
    .header__menu ul,
    .header__menu li {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 3rem; }
      .header__menu ul li:last-child a:last-child,
      .header__menu li li:last-child a:last-child {
        text-transform: uppercase;
        color: var(--color-dark-desaturated-blue);
        font-family: "Fraunces", serif;
        background: var(--color-white);
        border-radius: 50px;
        padding: 2rem 2.75rem; }
      .header__menu ul li:last-child a:last-child:hover,
      .header__menu li li:last-child a:last-child:hover {
        background: #6ecefe;
        color: var(--color-white); }
    .header__menu a {
      color: var(--color-white);
      font-family: "Barlow", sans-serif;
      text-decoration: none;
      font-size: 1.5rem; }
  .header__heading {
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 5rem; }
  .header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; }
    .header__icon img {
      width: 30px;
      height: 100px; }

.brand,
.audience {
  display: flex; }
  .brand__text,
  .audience__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 7rem 16rem; }
    .brand__text-heading,
    .audience__text-heading {
      font-size: 3.5rem;
      color: var(--color-dark-desaturated-blue);
      padding-bottom: 3rem; }
    .brand__text-maintext,
    .audience__text-maintext {
      font-size: 1.5rem;
      color: var(--color-dark-grayish-blue);
      font-family: "Barlow", sans-serif;
      line-height: 1.5;
      padding-bottom: 3rem; }
    .brand__text-link,
    .audience__text-link {
      color: var(--color-dark-desaturated-blue);
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.2rem;
      text-decoration: none;
      text-align: center; }
      .brand__text-link::before,
      .audience__text-link::before {
        content: "";
        display: block;
        height: 5px;
        width: 10rem;
        background: #f8efb3;
        border-radius: 5px;
        transform: translate(0px, 15px);
        z-index: -1;
        position: relative; }
      .brand__text-link:hover::before,
      .audience__text-link:hover::before {
        width: 10rem;
        background: var(--color-primary-yellow); }
    .brand__text .red-text::before,
    .audience__text .red-text::before {
      content: "";
      display: block;
      height: 5px;
      width: 10rem;
      background: #f7ddd8;
      border-radius: 5px;
      transform: translate(0px, 15px);
      z-index: -1;
      position: relative; }
    .brand__text .red-text:hover::before,
    .audience__text .red-text:hover::before {
      width: 10rem;
      background: var(--color-primary-main-red); }
  .brand .audience__text,
  .audience .audience__text {
    padding: 7rem 15rem; }
  .brand__photo,
  .audience__photo {
    width: 50%; }
  .brand img,
  .audience img {
    width: 100%; }

.design-photograpy {
  display: flex;
  margin-top: -2rem;
  width: 100%; }
  .design-photograpy__design {
    background-image: url(/images/desktop/image-graphic-design.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 18rem;
    height: 51rem;
    width: 50%;
    color: var(--color-primary-text-dark); }
  .design-photograpy__photograpy {
    background-image: url(/images/desktop/image-photography.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 20rem;
    height: 51rem;
    width: 50%;
    color: var(--color-primary-text-dark-2); }
  .design-photograpy__heading {
    font-size: 2.5rem;
    margin-top: 30rem;
    padding-bottom: 2.8rem; }
  .design-photograpy__text {
    font-size: 1.3rem;
    font-family: "Barlow", sans-serif;
    line-height: 1.5;
    text-align: center; }
